*{padding: 0;margin: 0;box-sizing: border-box;font-family: 'Heebo', sans-serif;
}
a{text-decoration: none;}
li{list-style: none;}

header{width: 100%;background-color: #080717;height: 120px;}

.container-header{max-width: 80%;display:flex; margin: 0 auto;justify-content: space-between;flex-wrap: wrap;padding-top:25px;}

.container-header nav ul{display: flex;padding-top: 30px;}

.container-header nav ul li a{color: #fff;padding-right: 50px;}

.container-header nav ul li a:hover{color:coral;}

/*main*/

main{background-image: url('../imagem/HERO.png');
background-position: center;
background-size: cover;
height: 80vh;}

.container-hero{max-width: 80%;margin: 0 auto;color: #fff;padding-top: 100px;}

.container-hero h2{font-size: 38px;padding-bottom: 50px;}

.container-hero a {background-color: #1286C9;padding: 10px 30px;color: #fff;font-weight: 500;}

.container-hero a:hover{background-color:#080717;transition: 2s;}

.container-hero form {margin: 0 auto;}

.container-hero form input,select{padding: 8px 50px;margin-top: 50px;}

.container-hero form input[type=submit]{
    background-color: #080717;border: 4px solid #080717;color: #fff;
}

.container-hero form input[type=submit]:hover{background-color: #050050;border: 4px solid  #050050;transition: 2s;}


@media(max-width:750px){
    .hero{display: none;}
    .container-hero{padding-top: 20px;}
    .container-hero form input select{width: 80%;margin: 0 auto;margin-bottom: 20px;}
}
/*BOXES*/

.container-servicos{max-width: 65%;margin: 0 auto;display: flex;justify-content: space-between;text-align: center;position: relative;bottom:50px}

.container-servicos h3{color: #fff;font-size: 30px;font-weight: 400;padding-top: 100px;}

.container-servicos h3::after{
    content:"";
    display:block;
    width:60px;
    height:2px;
    background: #fff;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.container-servicos p{color:#fff;font-weight: 400;}

.box-one{background-image: url('../imagem/passeios.png');width: 300px;height: 300px;margin-bottom: 20px;}

.box-two{background-image: url('../imagem/quarta.png');width: 300px;height: 300px;margin-bottom: 20px;}

.box-three{background-image: url('../imagem/Gastronomia.png');width: 300px;height: 300px;margin-bottom: 20px;}

@media(max-width:800px){
    .container-servicos{flex-direction: column;}
}
/*quartos*/
.container-acomodacao{max-width: 75%;display:flex;justify-content: center;margin: 0 auto;margin-bottom: 50px;}

.container-acomodacao img{padding-right: 20px;}

.container-acomodacao h4{font-size: 25px;padding-bottom: 20px;}

.container-acomodacao p{font-size: 18px;padding-bottom: 20px;}

.quarto-texto{padding-bottom: 18px;}

.quarto-texto li{font-size: 18px;}

.container-acomodacao a{background-color: #1286C9;color: #fff;padding: 10px 70px;}

.container-acomodacao a:hover{background-color: #050050;transition: 2s;}

@media(max-width:750px){
    .container-acomodacao{flex-direction: column;}
    .container-acomodacao img{width: 100%;}
}
/*FOTOS*/

#fotos{background-image: url('../imagem/BACKGROUND2.png');height: 100vh;}

.container-fotos{color: #fff;text-align: center;
    margin: 0 auto;max-width: 80%;}


.container-fotos h2{padding-top: 50px;font-size: 40px;}

.container-fotos h2::after{
    content:"";
    display:block;
    width:60px;
    height:2px;
    background: #fff;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
}

.fotos-box{display: flex;justify-content: space-between;margin: 10px auto;text-align: left;}

.fotos-box h5{font-size: 18px;}

.fotos-box p{padding-bottom: 20px;}

.container-fotos a{background-color:#CDAF20 ;padding:8px 50px;color: #fff;}

.container-fotos a:hover{background-color:#917b0d;transition: 1s;}

@media(max-width:1200px){
    #fotos{height: 250vh;}
    .fotos-box{flex-wrap: wrap;flex-direction: column;}
}
/*NEWSLATER*/
.newslater{max-width: 80%;margin:50px auto;padding: 50px 0px;background-color: #080717;text-align: center;}

.newslater h3{color:#fff;padding-bottom: 20px;}

.container-newslater{width: 80%;margin: 0 auto;}

.container-newslater input[type="email"] {padding: 8px 30px;width: 40%;} 

.container-newslater input[type="submit"] {padding: 8px 30px;width: 25%;text-align: center;background-color: #1286C9;color: #fff;font-weight: bold;border: 2px solid #1286C9;} 

.container-newslater input[type="submit"]:hover{
    background-color: #054e79;border: 2px solid#054e79;transition: 2s;
}

@media(max-width:750px){
    .newslater{max-width: 90%;}
    .container-newslater{width: 100%;}
}

/*turismo*/

#turismo{max-width:80%;margin:0 auto;background-image: url('../imagem/turismo.png');height: 55vh;background-size: cover;background-position: center;margin-bottom: 50px;}

.container-turismo{max-width: 55%;text-align: center;color:#fff;margin: 0px auto;padding: 25px;}

.container-turismo h2{margin-bottom: 10px;}

.container-turismo h2::after{
    content:"";
    display:block;
    width:60px;
    height:2px;
    background: #fff;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
}

.container-turismo p{font-size: 16px;margin-bottom: 20px;}

.container-turismo a{background-color: #CDAF20;text-decoration: none;color: #fff;padding: 8px 50px;}

.container-turismo a:hover{background-color: #8f7808;}

@media(max-width:900px){
    #turismo{width: 100%;height: 70vh;}
    .container-turismo{max-width: 100%;}
    .container-turismo p{font-size: 15px;}
}
/*footer*/

footer{width: 100%;background-color: #080717;color:#FFF;}

.container-rodape{max-width:80%;display: flex;margin:0 auto;justify-content: space-between;padding: 20px;align-items: center;text-align: left;}

.container-rodape img{padding-right: 20px;}

footer p{text-align: center;padding-bottom: 20px;}

@media(max-width:750px){
    .container-rodape{flex-direction: column;}
}